#szfb_container {
	width:250px;
	font-size:13px;
	font-family:Arial;
}

#szfb_tabbar {
	background:#ccc;
	float:right;
	padding:4px 8px;
	border-radius:3px 3px 0 0;
}

#szfb_container.szfb_position_s #szfb_tabbar,
#szfb_container.szfb_position_sw #szfb_tabbar {
	float:left;
}

#szfb_toggle {
	text-decoration:none;
	font-weight:bold;
	font-size:90%;
}

#szfb_content {
	clear:both;
	background:#ccc;
	border-radius:3px 0 0 0;
	min-height:8px;
}

#szfb_container.szfb_position_e #szfb_content,
#szfb_container.szfb_position_w #szfb_content {   
	clear:none;
	position:relative;
}

#szfb_container.szfb_position_w #szfb_tabbar,
#szfb_container.szfb_position_e #szfb_tabbar {
	position:absolute;
	right:-20px;
	padding:8px 6px;
	top:0px;
	float:none;
}

#szfb_container.szfb_position_e #szfb_tabbar {
	left:-20px;
}

#szfb_container.szfb_position_w #szfb_toggle,
#szfb_container.szfb_position_e #szfb_toggle {
	text-indent:-9999px;
	display:block;
	width:9px;
	height:78px;
	background-repeat:no-repeat;
	background-position:0 0;
}

#szfb_container.szfb_textcolor_white.szfb_position_w #szfb_toggle { background-image:url('gfx/white_west.png'); }
#szfb_container.szfb_textcolor_white.szfb_position_e #szfb_toggle { background-image:url('gfx/white_east.png'); }
#szfb_container.szfb_textcolor_black.szfb_position_w #szfb_toggle { background-image:url('gfx/black_west.png'); }
#szfb_container.szfb_textcolor_black.szfb_position_e #szfb_toggle { background-image:url('gfx/black_east.png'); }

#szfb_container.szfb_state_open     #szfb_toggle { background-position:0 -78px }
#szfb_container.szfb_state_complete #szfb_toggle { background-position:0 -156px }

#szfb_container.szfb_position_w #szfb_content,
#szfb_container.szfb_position_e #szfb_content {
	min-height:100px;
}

#szfb_inner {
	padding:10px;
}

#szfb_question {
	display:block;
	font-weight:bold;
	margin:0px 0 10px 0;
	font-size:100%;
}

#szfb_comment {
	background:#eee;
	text-align:center;
	padding-top:5px;
}

#szfb_comment_ta {
	width:220px;
	height:50px;
	font-size:90%;
	font-family:Arial;
	background-color:#eee;
	border:0;
	padding:0;
	margin:0;
	color:#888;
}

#szfb_comment_ta.szfb_focus {
	color:black;
}

#szfb_grade {
	height:28px;
	text-align:center;
	background:#333;
	border-radius:5px 5px 0 0;
	padding:10px 0 8px 0;
}

.szfb_option_wrapper {
	width:28px;
	height:36px;
	display:inline-block;
	margin:0 5px;
}

.szfb_option_wrapper.szfb_selected {
	background:url('gfx/arrow.png') no-repeat 50% 100%;
}

.szfb_no_comment .szfb_option_wrapper:hover,
.szfb_no_comment .szfb_option_wrapper.szfb_selected {
	background:none;
}

*:first-child+html .szfb_option_wrapper,
* html .szfb_option_wrapper {
	zoom:1;
	display:inline;
}

.szfb_option {
	width:28px;
	height:28px;
	text-indent:-9999px;
	display:block;
}

.szfb_score_1 { background-position:      0 0 }
.szfb_score_2 { background-position:  -28px 0 }
.szfb_score_3 { background-position:  -56px 0 }
.szfb_score_4 { background-position:  -84px 0 }
.szfb_score_5 { background-position: -112px 0 }

.szfb_range .szfb_score_1 { background-position:     0 -28px; }
.szfb_range .szfb_score_2 { background-position: -28px -28px; }
.szfb_range .szfb_score_3 { background-position: -56px -28px; }
.szfb_range .szfb_score_4 { background-position: -84px -28px; }
.szfb_range .szfb_score_5 { background-position:-112px -28px; }

#szfb_thanks {
	text-align:center;
	font-weight:bold;
}

#szfb_form {
	text-align:center;
}

#szfb_submit {
	line-height:24px;
	text-decoration:none;
	padding:0px 10px;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
	color:black;
	font-weight:bold;
	border-radius:12px;
	font-size:90%;
	margin-top:10px;
	display:inline-block;
	background: #eeeeee; 
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,1))); 
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); 
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); 
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); 
}

#szfb_submit:hover {
	background: rgb(238,238,238); 
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(221,221,221,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(221,221,221,1))); 
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); 
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); 
	background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); 
}
